.content
  width: 100%
  position: relative

.top
  background-color: #fff
  height: 70px
  box-shadow: 0 2px 10px 0 rgba(176, 176, 176, .3)
  position: relative
  display: flex
  align-items: center
  margin: 0 0 3px 3px
  border-radius: 0 0 3px 3px

.installPackagesButton
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 12px
  color: #95a5a6
  cursor: pointer
  transition: all .2s ease-in-out
  margin-left: 20px
  border-radius: 5px

  i
    font-size: 24px

  &:hover
    color: #576061

.packagesListTitle
  color: #e67333
  font-size: 20px
  margin: 10px

.dependenciesContainer
  margin: 5px 0 0 5px
  //background-color: #fff
  height: calc(100vh - 75px)
  position: relative

  &.cardView
    display: flex
    flex-wrap: wrap
    overflow: auto

  &.tableView
    display: flex
    flex-direction: column

.packagesTable
  width: 100%
  //padding: 5px
  box-shadow: 0 2px 20px 0 rgba(176, 176, 176, .3)

  thead
    tr
      display: flex
      //justify-content: space-between
      padding: 5px 10px

      th
        text-align: left
        color: #90a4ad
        font-weight: 300
        text-transform: uppercase
        width: 23%
		//&:last-child
	  	  width: 10%

  .checkboxColumn
    flex: 0 0 24px

  tbody
    overflow: auto
    max-height: calc(100vh - 330px)
    display: block

    tr
      display: flex
      //justify-content: space-between
      //margin-bottom: 4px
      font-weight: 400
      transition: all .2s ease-in-out
      background-color: #fff
      border-radius: 3px
      padding: 5px 10px
      cursor: pointer
      &:not(:last-child)
        border-bottom: 1px solid #edefec
      &:nth-child(2n)
        background-color: #f9f9f9
      &:hover
        background-color: #f2f2f2
        box-shadow: 0 2px 5px 0 rgba(176, 176, 176, .3)

      td
        font-size: 14px
        width: 20%
		&:last-child
		  width: 100px

.packageInfo
  position: absolute
  background-color: #fff
  //margin: 3px 0 0 3px
  width: 100%
  bottom: 0
  padding: 10px
  box-sizing: border-box
  border-radius: 3px 3px 0 0
  box-shadow: 0 2px 20px 0 rgba(176, 176, 176, .3)

.packageInfoTitle
  color: #90a4ad
  font-size: 12px
  margin-bottom: 10px

.infoItem
  display: flex
  font-size: 12px

  &:not(:last-child)
    margin-bottom: 6px

.infoItemText
  color: #80929a
  margin-right: 6px
  text-transform: uppercase

.infoItemValue
  font-weight: 500

.preloaderWrapper
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 20px 0

.preloaderText
  margin-bottom: 10px
//
//.dependenciesContainer
//  tbody
//    overflow: auto
//    max-height: calc(100vh - 330px)
//    display: block
